{{ define "main" }}
<section class="blueish">
{{ range .Pages.ByDate.Reverse }}
    <div class="container" id="selected">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5" style="padding-top: 35px">
            {{ range $skey, $svalue := .Params.photos }} 
                <div class="carousel-item active">
                    <h1>{{ $skey | markdownify }}</h1>
                    <img class="d-block w-100" src="{{ $svalue }}"
                    alt="{{ $skey }}" >
                </div>
            {{ end }}
            </div>
        </div>
        <hr/>
    </div>
{{ end }}
<div class="container" id="selected">
        <div class="text-center" style="padding-top: 25px;">
            {{ range .Site.Menus.bot }}
                <a href="{{ .URL }}"title="{{.Title}}" target="blank"> <i
                class="{{.Pre}}"
                data-toggle="tooltip" data-placement="top"
                title="{{.Name}}"></i></a>
            {{ end }}
            {{ range .Site.Menus.selected }}
                <a href="{{ .URL}}"title="{{.Title}}" target="_blank"> <i
                class="{{.Pre}}"
                data-toggle="tooltip" data-placement="top"
                title="{{.Name}}"></i></a>
            {{ end }}
        </div>
</div>
</section>
<style>
    <!-- TODO: figure out how to set via params in css (off-white) -->
    body {
      background-color: #405763;
    }
    .footer {
        color: white;
    }
</style>
{{ end }}



