:root { 
    --primary-color: #405763;
    --secondary-color: #D9BFB4;
    --link-color: #6B7F8D;
    --off-white: #F3F2F2 
} 

.fixed-bottom {
    background: transparent;
    font-size: 30px;
}

.footer {
    position: fixed;
    top: 140px;
    right: var(--footerOffset);
    transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
}

.year {
    position: relative;
    bottom: -20px;
}

.type {
    position: relative;
    left: -10px;
}

.blueish {
    background: var(--primary-color) !important;
    font-size: 16px;
    color: var(--off-white) !important;
    padding-bottom: 10%;
}

.seethrough {
    background: transparent
    font-size: 14px;
    color: var(--off-white);
}
.signature-column {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    height: 100px; 
}

img.signature {
    opacity: 0.75;
    object-fit: contain;
    max-height: 500px;
}

.navbar {
    background: transparent
}
#navBot a:hover {
    background: transparent
}

#navTop {
    background: transparent 
}

#about a, #publications a {
    color: var(--link-color);
    text-decoration: none;
}

#about a:hover, #publications a:hover {
    color: var(--secondary-color);
}

#about i {
    font-size: 50px !important;
    color: var(--secondary-color);
}

#selected a, #publications a {
    color: var(--link-color);
    text-decoration: none;
}

#selected a:hover, #publications a:hover {
    color: var(--secondary-color);
}

#selected i {
    font-size: 50px !important;
    color: var(--secondary-color);
}

#projects img {
    width: 80%;
}

#publications hr {
    width: calc(100% + 20px);
    margin:3 auto;
}

#research {
    text-align: center;
}
#research img {
    width: 50%;
}
