{{ define "main" }}
<section class="blueish">
{{ range .Pages.ByDate.Reverse }}
    <div class="container" id="about">
        <div class="row justify-content-center align-items-center">
            {{ if eq .Title "About"}}
                <div class="col-lg-3" style="padding-top: 20px; padding-bottom: 20px;">
                    <img src="{{ .Params.headshot }}" alt=""
                    width="100%" >
                </div> 
                <div class="col">
                    <h1>{{ .Title | markdownify }}</h1>
                    {{.Content}}
                </div>
            {{ end }}
            {{ if eq .Title "Education"}}
                <div class="col">
                    <h1>{{ .Title | markdownify }}</h1>
                    {{ range $university, $degrees := .Params.degrees}} 
                        <h5 class="text-capitalize"><u>{{ $university }}</u></h5>
                        {{ range $degree, $year := $degrees }} 
                            <div class="row">
                                <div class="col">
                                    <em class="text-uppercase">{{ $degree }} </em>
                                </div>
                                <div class="col-2">
                                    <span>{{ $year }}</span>
                                </div>
                            </div>

                        {{ end }}
                    {{ end }}
                </div>
                <div class="col-lg-5" style="padding-top: 15px">
                    <div id="carouselExamplesIndicators"
                    class="carousel slide" data-ride="carousel" data-interval="7000">
                        <div class="carousel-inner">
                        {{ $scount := true }}
                        {{ range $skey, $svalue := .Params.photos }} 
                            {{ if $scount }}
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="{{ $svalue }}"
                                    alt="{{ $skey }}" style="border-radius: 10px;">
                                </div>
                                {{ $scount = false}}
                            {{else }}
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{{ $svalue }}"
                                    alt="{{ $skey }}" style="border-radius: 10px;">
                                </div>
                            {{ end }}
                        {{ end }}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExamplesIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExamplesIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            {{ end }}
        </div>
        <div class="row justify-content-center align-items-center">
            {{ if ne .Title "Education"}}
                {{ if ne .Title "About"}}
                    <div class="col">
                        <h1>{{ .Title | markdownify }}</h1>
                        {{.Content}}
                    </div>
                {{ end }}
            {{ end }}
        </div>
        <hr/>
    </div>


{{ end }}
<div class="container" id="about">
        <div class="text-center" style="padding-top: 25px;">
            {{ range .Site.Menus.bot }}
                <a href="{{ .URL }}"title="{{.Title}}" target="blank"> <i
                class="{{.Pre}}"
                data-toggle="tooltip" data-placement="top"
                title="{{.Name}}"></i></a>
            {{ end }}
            {{ range .Site.Menus.about }}
                <a href="{{ .URL}}"title="{{.Title}}" target="_blank"> <i
                class="{{.Pre}}"
                data-toggle="tooltip" data-placement="top"
                title="{{.Name}}"></i></a>
            {{ end }}
        </div>
</div>
</section>
<style>
    <!-- TODO: figure out how to set via params in css (off-white) -->
    body {
      background-color: #F3F2F2;
    }
    .footer {
        color: white;
    }
</style>
{{ end }}



