<nav id="navTop"class="navbar navbar-expand-md navbar-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <a class="navbar-brand" href="{{ "/" | relURL}}">{{.Site.Title}}</a>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <li class="navbar-item">
            <a class="nav-link" href='{{ .URL | relURL }}' title="{{ .Title }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </nav>

  <nav id="navBot" class="navbar navbar-light navbar-expand fixed-bottom" 
      style="background: white; height: 60px; opacity: 0.6">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto"></ul>
        <ul class="navbar-nav mr-auto">
            {{ $currentPage := . }}
            {{ range .Site.Menus.link }}
            <li class="navbar-item">
                <a class="nav-link" href="{{ .URL }}"title="{{.Title}}" target="_blank"> {{.Name}}</a>
            </li>
            {{end}}
            {{ range .Site.Menus.bot }}
                <li class="navbar-item">
                <a class="nav-link" href="{{ .URL }}"title="{{.Title}}"
                target="_blank"> <i
                class="{{.Pre}}"
                data-toggle="tooltip" data-placement="top"
                title="{{.Name}}"></i></a>
                </li>
            {{ end }}
        </ul>
    </div>

  </nav>
