{{ define "main" }}
<section class="seethrough">
    <div class="signature-column">
        <div class="row justify-content-center align-items-center">
            <img class="signature" src="images/signature-alpha.png" alt="">
        </div>
    </div>
</section>
<style>
    body {
      background-image: url({{.Site.Params.backgroundPath}});
      min-height: 1000px;
      max-height: 3000px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
    }
    .navbar {
      background: transparent;
    }
</style>
{{ end }}
